---
layout: top_nav
---
<%= yield %>
<div class="pt-8">
  <div class="flex justify-center mb-8 space-x-10 text-3xl border-b border-kra-darkblue-lightest">
    <% ["Clusters", "Chapters"].each_with_index do |tab, index| %>
      <a
          data-active="<%= tab.downcase == resource.basename_without_ext %>"
          href="/eu-acquis/<%=tab.downcase%>"
          class="text-kra-darkblue-lighter border-b-4 border-transparent py-4 hover:text-kra-darkblue-light hover:border-kra-darkblue-lighter
                 data-[active='true']:border-kra-text
                 data-[active='true']:text-kra-text data-[active='true']:font-bold">
                 <%= tab %>
      </a>
    <% end %>
  </div>

  <div class="">
    <%= render tab_component(resource) %>
  </div>
</div>
