---
layout: top_nav
---
<%= yield %>
<div>
  <div class="border-b border-kra-darkblue-lightest mb-8 flex justify-center space-x-10 text-2xl">
<%=  %>
    <% ["Clusters", "Chapters"].each_with_index do |tab, index| %>
      <a
          data-active="<%= tab.downcase == resource.basename_without_ext %>"
          href="/eu-acquis/<%=tab.downcase%>"
          class="text-kra-darkblue-lighter
                 data-[active='true']:border-b-2 data-[active='true']:border-kra-text
                 data-[active='true']:text-kra-text">
                 <%= tab %>
      </a>
    <% end %>
  </div>

  <div class="">
    <%= render tab_component(resource) %>
  </div>
</div>
