<div class="relative pt-4 w-full h-screen md:h-auto md:aspect-[9/7] lg:aspect-[9/6] lg:max-h-[60rem] bg-cover flex flex-col justify-center items-center bg-gray-600"
  style="background-image:url('<%= dato.home.hero.url %>?auto=compress,format&fit=crop&w=1440&h=800&fp-x=<%= dato.home.hero.focal_point&.dig("x") %>&fp-y=<%= dato.home.hero.focal_point&.dig("y") %>')"
 >

  <div class="absolute inset-x-0 top-0">
    <%= render Shared::Navbar.new(metadata: metadata, resource: resource, inverse: true) %>
  </div>

  <div class="relative z-10 w-full max-w-screen-xl px-4 mx-auto my-12 space-y-10 sm:px-6" >
    <h1 class="max-w-[780px]"><%= svg "/images/logo.svg", class: "w-full h-auto text-white" %></h1>
    <div class="max-w-[400px] text-xl leading-normal text-white "> <%= dato.home.abstract %></div>
    <div>
      <a href="<%= relative_url "/about" %>" class="px-4 py-2 text-white rounded bg-kra-button"> Learn More </a>
    </div>
    <div class="flex justify-start max-w-md pt-4 pr-8 -mx-4">
      <% dato.global.inverse_logos.each do |image| %>
        <div class="px-4 grow-0 shrink" style="aspect-ratio:<%= image.width %> / <%= image.height %>">
          <img class="w-full h-auto max-h-8" src="<%= image.url %>?fm=svg&auto=format" alt="Project Sponsors" />
        </div>
      <% end %>
    </div>
  </div>

  <div class="absolute inset-x-0 bottom-0 z-0 flex justify-end">
    <%= svg "/images/kra_icon.svg", class: "w-1/3 h-full aspect-square" %>
  </div>
  <div class="absolute inset-x-0 bottom-0 flex items-end justify-center h-10 pb-6">
    <a href="#next">
      <%= svg "/images/chevron.svg", class: "text-white" %>
    </a>
  </div>
</div>

<div id="next"></div>
<div class="space-y-16">
  <% dato.home.content.each do |content| %>
    <%= render component_from_dato(content) %>
  <% end %>
</div>
