<div class="py-12" style="background-color: <%= resource.background_color.hex %>">

  <div class="max-w-screen-xl grid mx-auto mt-16 gap-y-8 md:gap-y-0 md:gap-x-8 md:grid-cols-2 px-4 sm:px-6">
    <div class="flex flex-col">
      <h5 class="font-display font-bold mb-8 text-2xl text-white"><%= resource.page.title %></h5>
      <p class="text-white prose"><%= resource.page.abstract %></p>
      <div class="mt-8">
       <a class="px-4 py-2 bg-white rounded text-kra-text hover:bg-kra-blue-100 transition-colors"
        href="<%= relative_url resource.page.slug %>">Read More</a>
      </div>
    </div>
    <% if resource.media_type %>
     <div class="relative w-full">
        <img class="w-full aspect-[470/352]" src="<%= resource.page.hero.url %>?fm=avif&auto=compress,format" alt="Branded image">
        <div class="absolute inset-0">
          <%= svg "/images/img-frame.svg", style: "color:#{resource.background_color.hex}" %>
        </div>
    </div>
    <% else %>
      <div class="relative w-full">
        <% if !resource.page.video_block.nil? && resource.page.video_block.length() > 0 %>
          <div class="aspect-[16/9] relative h-auto w-full rounded overflow-hidden">
            <iframe
              class="absolute top-0 left-0 w-full h-full"
              src="<%= resource.page.video_block[0].video %>"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              frameborder="0"
              allowfullscreen
              ></iframe>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>