<div class="" style="background-color: <%= resource.background_color.hex %>">
  <div class="grid max-w-screen-xl grid-cols-2 gap-16 px-4 py-16 mx-auto sm:px-6">
    <div class="flex flex-col">
      <h5 class="mb-8 text-2xl text-white"><%= resource.page.title %></h5>
      <p class="text-white"><%= resource.page.abstract %></p>
      <div class="mt-4">
       <a class="px-4 py-2 bg-white rounded text-kra-text"
        href="<%= relative_url resource.page.slug %>">Read More</a>
      </div>
    </div>
    <div class="relative w-full px-12 bg-cover">
      <img class="w-full aspect-[470/352]" src="<%= resource.page.hero.url %>">
      <%= svg "/images/img-frame.svg", style: "color:#{resource.background_color.hex}" %>
    </div>
  </div>
</div>
