<div class="grid w-full mx-auto items-center text-center aspect-[1440/600] lg:aspect-[9/2] py-4<%= title_color %> border-b border-kra-darkblue-lightest bg-cover bg-center"
  style="background-image: url('<%= relative_url resource.hero&.url %>?auto=compress,format&fit=crop&w=1440&h=600&fp-x=<%= resource.hero&.focal_point&.dig("x") %>&fp-y=<%= resource.hero&.focal_point&.dig("y") %> center')
  ">
  <div class="max-w-screen-md p-4 gap-4 text-center grid-col-1 justify-items-center mx-auto">
    <h1 class="text-3xl lg:text-5xl font-bold font-display"> <%= resource.title %> </h1>
  <% if resource.abstract_position == "inside_header" %>
      <hr class="m-auto my-4 border-none w-[68px] h-2 bg-kra-darkred"/>
      <p> <%= resource.abstract %> <p>
    <% end %>
  </div>
</div>

<% if resource.abstract_position == "below_header" %>
  <div class="max-w-screen-lg px-4 py-12 mx-auto text-xl leading-normal text-center sm:px-6 text-kra-offblack ">
    <p><%= resource.abstract %> <p>
  </div>
<% end %>

<div class="max-w-screen-lg mx-auto px-4">
<% resource.content.each do |content| %>
  <%= render component_from_dato(content, {page: resource}) %>
<% end %>
</div>
