<a class="flex border-b text-sm group hover:bg-kra-darkblue-lightest"
  href="<%= relative_url "/resources/#{resource.slug}" %>">
  <div class="flex grow">
    <div class="grow space-y-2 py-4 px-6">
      <span>
        <%= resource.title %>
      </span>
      <div class="flex flex-wrap gap-2">
        <% resource.beneficiary.each do |beneficiary| %>
          <span class="px-2 py-1 rounded border border-kra-darkblue-lightest
                          group-hover:border-kra-darkblue-light
                          bg-kra-darkblue-lightest text-xs
                          text-kra-darkblue-light">
            <%= beneficiary.iso3_code%>
          </span>
        <% end %>
        <span>
          <%= render resource_type(resource)%>
        </span>
      </div>
    </div>
    <div class="flex">
      <div class="px-4 place-self-center group-hover:translate-x-2 transition-transform">
        <%= svg "/images/arrow.svg", class:"h-4 w-4  " %>
      </div>
    </div>
  </div>
</a>
