<div class="border-b-4 border-kra-darkblue-lighter pb-4 text-xl font-bold">
  <%= resource.data.title.titleize %>
</div>
<% items.each do |item| %>
  <div class="flex items-center" style="border-left: 12px <%= resource.data.color %> solid">
    <a href="<%= relative_url item.slug %>"
       class="
             group
             flex flex-grow items-center
             border-b py-4 pl-4
             hover:bg-kra-darkblue-lightest
             transition-colors">
      <div class="flex items-center flex-grow space-x-2">
        <div class="h-16"></div>
        <% if item.image? %>
          <img class="h-16 w-16 mr-8" src="<%= item.hero_image.url %>?fm=avif&auto=compress,format" alt="Cover image"/>
        <% end %>
        <span class="text-sm"><%= item.title %></span>
      </div>
      <div class="
        flex-none
        py-2 px-4 rounded
        border border-kra-darkblue-lightest group-hover:border-kra-darkblue-lighter
        text-sm text-kra-darkblue-lighter
        bg-kra-darkblue-lightest
         "><%= item.date.year %></div>
      <div class="flex-none"><%= svg "/images/chevron.svg", class: "h-[9px] text-kra-text -rotate-90" %></div>
    </a>
  </div>
<% end %>
