<div class="m-auto w-1/2">
  <div>Events</div>
  <% dato.events.each do |event| %>
    <div class="flex space-x-2 items-center">
      <div class="h-10 w-2 bg-kra-red">&nbsp;</div>
      <div class="flex flex-grow items-center border-b">
        <div class="flex items-center flex-grow space-x-2">
          <img class="h-10 w-10" src="<%= event.hero_image.url %>"/>
          <span> <%= event.title %> </span>
        </div>
        <div class="flex-none"><%= event.start_date.year %></div>
        <div class="flex-none">
          <%= svg "/images/chevron.svg", class: "h-[9px] text-kra-text -rotate-90" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="m-auto w-1/2">
  <div>News</div>
  <% dato.updates.each do |event| %>
    <div class="flex space-x-2 items-center">
      <div class="h-10 w-2 bg-kra-blue">&nbsp;</div>
      <div class="flex flex-grow items-center border-b">
        <div class="flex items-center flex-grow space-x-2">
          <span> <%= event.title %> </span>
        </div>
        <div class="flex-none"><%= event.date.year %></div>
        <div class="flex-none">
          <%= svg "/images/chevron.svg", class: "h-[9px] text-kra-text -rotate-90" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
